@font-face {
    font-family: "Glacial Indifference";
    src: url("../fonts/GlacialIndifference-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("../fonts/GlacialIndifference-Bold.otf");
    font-weight: bold;
}