$navHeight: 64px;

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Glacial Indifference", serif;
  font-weight: bold;
}

body {
  background-color: #080808;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 50%);

  header {
    height: 35vh;
    display: flex;
    justify-content: center;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8px);
      height: $navHeight;
      z-index: 1;

      ul {
        display: flex;
        flex-direction: row;

        > li > a {
          transition: 250ms ease-in-out;
          padding: 12px;
          border-radius: 100vh;
          font-size: 24px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            padding: 12px 32px;
          }
        }
      }
    }

    > h1 {
      position: relative;
      top: 25vh;
      font-size: 5em;
      width: 60%;
      max-width: 24ch;
      min-width: 14ch;
      text-align: center;

      > span {
        color: #B74F4F;
      }
    }
  }
}