$navHeight: 64px;
$mainColor: rgb(180, 80, 80);

a {
  user-select: none;
}

p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

body {
  background-color: #CCCCCC;

  > nav {
    position: fixed;
    height: 100vh;
    left: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    > ul {
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
      font-size: 3rem;

      > li > a {
        filter: blur(1.5px);
        transition: 250ms ease-in-out;
        position: relative;
        left: 0;

        &:hover {
          transition: 250ms ease-in-out;
          left: 2%;
          filter: none;
        }

        > p {
          font-family: "PlayfairDisplay", serif;
          font-weight: bold;
          color: #080808;
        }
      }
    }
  }

  > header {
    position: relative;
    z-index: 2;

    > div {
      height: 75vh;
      width: 100%;
      background-color: #080808;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10%;

      > h1 {
        font-family: "Glacial Indifference", sans-serif;
        font-size: 5rem;
        font-weight: bold;
        color: white;
        position: relative;
        width: 60%;
        max-width: 24ch;
        min-width: 14ch;

        > span {
          color: $mainColor;
        }
      }

      > a {
        transition: 250ms ease-in-out;
        background-color: $mainColor;
        padding: 12px 24px;
        border-radius: 100vh;
        font-size: 1.75rem;

        &:hover {
          padding: 12px 36px;
        }
      }
    }

    svg#header_wave {
      aspect-ratio: 900/150;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
    }
  }


  > main {
    display: flex;
    justify-content: center;
    //flex-direction: column;

    > article {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > h1 {
        position: absolute;
        z-index: -1;
        user-select: none;

        font-family: "Glacial Indifference", sans-serif;
        font-weight: bold;
        font-size: 25vw;
        color: #C7C7C7;

      }

      &:nth-child(n) > h1 {
        right: -0.5ch;
      }

      &:nth-child(2n) > h1 {
        left: -0.5ch;
      }

      > section > div > h2 {
        font-family: "PlayfairDisplay", serif;
        font-weight: bold;
        font-size: 3rem;
        padding: 12px 0;
        width: 8ch;
      }

      > section {
        position: relative;

        &:nth-child(even) {
          right: 100%;
        }

        &:nth-child(odd) {
          left: 100%;
        }

        > div > ul > li {
          font-family: "Lato", serif;
          font-size: 1.25rem;
          padding: 8px 0;
        }
      }
    }
  }


  > footer {
    background: #000;
    position: relative;
    top: 2560px;
  }
}